@import '@styles/_theme.scss';

.header {
  height: $headerHeight;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu {
  height: $headerHeight;
  font-size: 0.875rem;
  display: contents;
  flex: 1;
  align-items: center;
  justify-content: flex-end;

  .menu-item {
    color: $primary-grey;
    margin: 0 0.3rem;
    justify-content: flex-end;
    padding-bottom: 0.25rem;

    &:hover {
      box-shadow: 0 1.5px 0 0 currentColor;
    }
  }
}

.title {
  margin: 0;
}
